<section>
    <nav class="flex bg-my-green nav-bar">
        <a class="px-8" href="#home">valdodotcom</a>
            <div class="px-8 ml-auto">
                <a class="nav-item" href="#about">About</a>
                <a class="nav-item" href="#services">Services</a>
                <a class="nav-item" href="#projects">Portfolio</a>
                <a class="nav-item" href="#contact">Contact</a>
            </div>
            <button class="menu-button" *ngIf="getScreenWidth <= 700"
            (click)="toggleBar()"><fa-icon [icon]="faBars" class="text-xl"></fa-icon></button>
    </nav>
    <div *ngIf="getScreenWidth <= 700 && isShowing"
     class="p-2 navbar-dropdown flex justify-between">
        <a class="nav-drop-item" href="#about">About</a>
        <a class="nav-drop-item" href="#services">Services</a>
        <a class="nav-drop-item" href="#projects">Portfolio</a>
        <a class="nav-drop-item" href="#contact">Contact</a>
      </div>

    </section>

<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>

<footer class="text-gray-500 text-center p-10">
    Copyright 2023 © Valdo Abruquah</footer>
