<div>
    <nav class="flex p-6 bg-my-green">
        <p class="px-8">valdodotcom</p>
            <div class="px-8 ml-auto">
                <a class="nav-item" href="#home">Home</a>
                <a class="nav-item" href="#about">About</a>
                <a class="nav-item" href="#skills">Skills</a>
                <a class="nav-item" href="#projects">Projects</a>
                <a class="nav-item" href="#contact">Contact</a>
            </div>
    </nav>
</div>

<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>

<footer class="text-gray-500 text-center p-4">
    Copyright 2022 © Your Name</footer>
