@media screen and (max-width: 700px) { .nav-item { display: none; } }

  .nav-bar {
    padding: 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

.nav-buttons {
    padding: 4px;
    transition: all 0.5s ease-in-out;
    &:hover {
        border-radius: 10px;
        background-color: #03501485;
    }
  }

.nav-item {
    padding: 3px 10px;
    margin: 10px;
    background-color: #059142;
    border-radius: 20px;
    transition: all 0.35s ease-in;
    &:hover {
        margin: 15px;
        background-color: #03501485;
    }
}

.navbar-dropdown {
    position: fixed;
    top: 4rem;
    width: 100%;
    z-index: 998;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #059142;
}

.nav-drop-item {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5%;
    padding-right: 5%;
}

.menu-button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #059142;
    border-radius: 20px;
    transition: all 0.6s ease-in;
    &:hover {
        background-color: #03501485;
    }
}