<section id="about" class="px-20 py-10">
    <div>
        <h2>About Me</h2>
        <div class="px-2 py-5">
            <h3>Profile</h3>
            <ng-container *ngFor="let singleP of paragraphs;">
                <p class="px-2 py-3">{{ singleP }}</p>
            </ng-container>
        </div>

    </div>

    <div class="px-2 py-5">
        <h3 class="py-5">Skill Set</h3>
        <ul>
            <ng-container *ngFor="let singleTool of tools;">
                <li class="px-2 py-1">{{ singleTool.language }} - {{ singleTool.level }}</li>
            </ng-container>
        </ul>
    </div>
</section>
