<section id="about" class="px-10 lg:px-40 py-10 text-center">
    <div>
        <h2>About Me</h2>
        <div class="px-2 py-5">
            <h3>Profile</h3>
            <ng-container *ngFor="let singleP of paragraphs;">
                <p class="py-3">{{ singleP }}</p>
            </ng-container>
        </div>

    </div>

    <div class="px-2 py-5">
        <h3 class="py-5">Skill Set</h3>

        <!-- <div class="grid grid-cols-3">
            <ng-container *ngFor="let singleTool of tools; let i = index">
                <div [ngStyle]="{'grid-column': (i % 3) + 1 }" class="px-2 py-1 box">
                    {{ singleTool.language }} - {{ singleTool.level }}</div>
            </ng-container>
        </div> -->

        <div class="grid grid-cols-3">
            <ng-container *ngFor="let singleTool of tools; let i = index">
                <div [ngStyle]="{'grid-column': (i % 3) + 1 }" class="px-2 py-1 box">
                    <div style="float: left;">{{ singleTool.language }}</div>
                    <div class="text-right text-xs">{{ singleTool.level }}</div>
                    <div class="progress-bar mt-3 mb-2">
                        <div [ngStyle]="{'width': singleTool.width }" class="value"></div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>