<section id="projects" class="px-10 lg:px-20 py-10 text-center" [ngClass]="{'popup-active': showPopup}">
    <div class="pt-5 text-center">
        <h2>Portfolio</h2>
        <p class="pt-3">Some projects I have worked on that 
            highlight my skills in different applications:</p>

        <div class="category-buttons text-lg font-bold">
            <button class="category-button" (click)="setCategory('')" [class.selected]="categoryFilter === ''">All</button>
            <button class="category-button" (click)="setCategory('Web Development')" [class.selected]="categoryFilter === 'Web Development'">Web</button>
            <button class="category-button" (click)="setCategory('Mobile App Development')" [class.selected]="categoryFilter === 'Mobile App Development'">Mobile</button>
            <button class="category-button" (click)="setCategory('Windows App Development')" [class.selected]="categoryFilter === 'Windows App Development'">Windows</button>
            <button class="category-button" (click)="setCategory('Problem Solving')" [class.selected]="categoryFilter === 'Problem Solving'">Problem Solving</button>
        </div> 

    </div>


    <div class="grid grid-cols-3" [@cardAnimationCategory]="shouldAnimate" (@cardAnimationCategory.start)="onAnimationComplete()" data-aos="fade-up">
        <ng-container *ngFor="let singleProject of projects | slice:0:-7 | filter: categoryFilter; let i = index">
            <div [ngStyle]="{'grid-column': (i % 3) + 1 }" class="box box-lr button-vis">
                <h3 class="pt-10">{{ singleProject.name }}</h3>
                <button (click)="selectedProject = singleProject; showPopup = true">
                    <ng-container *ngIf="!isImageLoaded">
                        <div class="spinner-border m-5 text-my-green" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                    <img [src]="singleProject.images[0]" [alt]="singleProject.name" class="project-image pt-3"
                        (load)="isImageLoaded = true">
                </button>
                <p class="px-3 lg:px-10 pb-2 pt-3">{{ singleProject.description }}</p>
                <p class="text-sm">Stack: {{ singleProject.stack }}</p>
                <div class="pb-4">
                    <a [href]="singleProject.demo">
                        <button data-title="View Demo" class="text-xs ext-links">
                            <fa-icon [icon]="playButton" class="text-lg"></fa-icon> 
                            </button>
                    </a>
                    
                    <a [href]="singleProject.repo">
                        <button data-title="View Repo" class="text-xs ext-links" onclick="location.href= singleProject.repo" type="button">
                            <fa-icon [icon]="githubLogo" class="text-lg"></fa-icon>
                            </button>
                    </a>
                </div>
            </div>
        </ng-container>

    </div>

    <div class="grid grid-cols-3" [@cardAnimationCategory]="shouldAnimate" (@cardAnimationCategory.start)="onAnimationComplete()" data-aos="fade-up">
        <ng-container *ngFor="let singleProject of projects | slice:-7:-1 | filter: categoryFilter; let i = index">
            <div [ngStyle]="{'grid-column': (i % 3) + 1 }" class="box box-c button-vis">
                <h3 class="pt-10">{{ singleProject.name }}</h3>
                <button (click)="selectedProject = singleProject; showPopup = true">
                    <ng-container *ngIf="!isImageLoaded">
                        <div class="spinner-border m-5 text-my-green" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                    <img [src]="singleProject.images[0]" [alt]="singleProject.name" class="project-image pt-3"
                        (load)="isImageLoaded = true">
                </button>
                    <p class="px-3 lg:px-10 pb-2 pt-3">{{ singleProject.description }}</p>
                    <p class="text-sm">Stack: {{ singleProject.stack }}</p>
                    <div class="pb-4">
                    <a [href]="singleProject.repo">
                    <button data-title="View Repo" class="text-xs mt-4 ext-links">
                    <fa-icon [icon]="githubLogo" class="text-lg"></fa-icon>
                    </button>
                </a></div>
            </div>
        </ng-container>
    </div>
</section>

<section class="px-10 lg:px-20 pt-10 text-center" id="popup">
    <div class="popup" *ngIf="showPopup">
        <h3 class="pt-2 pic-heading">{{selectedProject.name}}</h3>
            <div class="arrange">
                <button class="left-button" (click)="currentImageIndex=currentImageIndex-1" [disabled]="currentImageIndex == 0">
                    <fa-icon [icon]="leftButton" class="text-lg"></fa-icon>
                    </button>
                <img [src]="selectedProject.images[currentImageIndex]" [alt]="selectedProject.name">
                <button class="right-button" (click)="currentImageIndex=currentImageIndex+1" [disabled]="currentImageIndex == selectedProject.images.length - 1">
                    <fa-icon [icon]="rightButton" class="text-lg"></fa-icon>
                    </button>
            </div>

            <p class="text-xs pic-num">{{currentImageIndex+1}}/{{selectedProject.images.length}}</p>

        <button (click)="showPopup = false">
            <fa-icon [icon]="closeButton" class="text-lg close-button"></fa-icon>
        </button>
    </div>
</section>