div {
    padding: 10px;
}

.project-image{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 50%;
    object-fit: contain;
  }

.box:hover {
    padding: 3%;
}

.ext-links {
    padding: 1px 20px 2px 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 1px #05912422;
    transition: all 0.3s ease-in-out;
    background-color: rgb(25, 25, 25);
  }

.box-lr fa-icon:first-child {
    float: left;
}

.box-lr fa-icon:last-child {
    float: right;
}

.ext-links:hover {
  background-color: rgb(25, 25, 25);
  color: white;
}

.ext-links {
    color: #00b728;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease;
  }

  .button-vis:hover .ext-links {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.25s ease;
  }


  // tooltip

  .button-vis .ext-links {
    position: relative;
    display: inline-block;
  }

  .button-vis .ext-links fa-icon {
    position: relative;
    z-index: 1;
  }
  
  .button-vis .ext-links:hover::after {
    position: absolute;
    content: attr(data-title);
    left: 0;
    top: 100%;
    background-color: rgb(25, 25, 25);
    color: #fff;
    padding: .2rem .4rem;
    border-radius: .3rem;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: .3s;
  }
  
  .button-vis .ext-links:hover::after {
    opacity: 1;
  }
  
  .button-vis .ext-links[data-title]:hover::after {
    content: attr(data-title);
  }

  // end of tooltip

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: 	#1e1e1e;
    padding: 20px;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
  }