<section id="contact" class="lg:px-20 py-10 text-center">
    <div>
        <p class="fake-h2">Have an enquiry?</p>
        <h2 class="pt-3">Contact Me</h2>
        <!-- <fa-icon [icon]="faEnvelope"></fa-icon> -->
    </div>
    <div>

    <ng-container *ngFor="let singleContact of contacts | slice:0:-2;">
        <div class="contact-method">
            <button>
                <a [href]="singleContact.address">
                <fa-icon [icon]="singleContact.icon" class="text-green"></fa-icon>
                <div>{{ singleContact.name }}</div></a>
            </button>
        </div>
    </ng-container>
    
    <ng-container *ngFor="let singleContact of contacts | slice:-2;">
        <div class="contact-method">
                <fa-icon [icon]="singleContact.icon" class="text-green"></fa-icon>
                <div>{{ singleContact.name }}</div>
        </div>
    </ng-container>
    </div>
</section>

