<div id="services" class="px-10 lg:px-20 py-10 text-center">
    <h2 class="py-10">Services</h2>
        <div class="grid grid-cols-3">
            <ng-container *ngFor="let singleService of services; let i = index">
            <div data-aos="fade-up">
                <div [ngStyle]="{'grid-column': (i % 3) + 1 }" class="p-10 box serv">
                <h3 class="pb-3">{{ singleService.name }}</h3>
                <fa-icon [icon]="singleService.icon"></fa-icon>
                <p class="py-2">{{ singleService.description }}</p>
                </div>
            </div>
            </ng-container>
        
</div>
