li {
    padding: 10px;
}

fa-icon {
    font-size: 30px;
    color: #059124;
}

.box:hover {
    padding: 10%;
}

@media screen and (max-width: 700px) {
    h2 {
      padding-top: 80px;
    }
  }
  