<div id="services" class="px-20 py-10">
    <h2>Services</h2>
        <ul>
            <li>
                <h3>Web Development</h3>
            <p>
                With my expert knowledge in responsive web design using HTML, 
                CSS, and JavaScript, I am able to create visually stunning, 
                user-friendly websites that adapt seamlessly to any device 
                or screen size, including mobile, tablet, and laptop. 
                I possess the ability to build custom web applications using 
                the Angular framework from the 
                ground up, tailored to the unique needs of you and 
                your customers, ensuring their satisfaction with the final product.
            </p>
            </li>
            <li>
                <h3>Mobile App Development</h3>
                <p>
                    I am an experienced 
                    in using the Flutter framework to design, develop and deploy 
                    visually appealing, modern, and user-friendly mobile applications for 
                    both iOS and Android that deliver an exceptional user experience.
                </p>
            </li>
            <li>
                <h3>Windows OS App Development</h3>
                <p>
                    I also have experience utilizing the powerful Flutter framework 
                    to develop highly functional and efficient applications 
                    that are specifically tailored to solve problems and run 
                    seamlessly on the Windows Operating System.
                </p>
            </li>
        </ul>
        
</div>
