<div id="services" class="px-20 py-10 text-center">
    <h2 class="py-10">Services</h2>
        <!-- <ul> -->
            <!-- <ng-container *ngFor="let singleService of services;">
                <li>
                    <h3> {{ singleService.name }}</h3>
                    <p> {{ singleService.description }}</p>
                </li>
            </ng-container> -->
        <!-- </ul> -->

        <div class="grid grid-cols-3">
            <ng-container *ngFor="let singleService of services; let i = index">
                <div [ngStyle]="{'grid-column': (i % 3) + 1 }" class="px-2 py-1">
                    <h3>{{ singleService.name }}</h3>
                     <p class="py-2 px-10">{{ singleService.description }}</p></div>
            </ng-container>
        
</div>
