@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/scss/bootstrap';

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

body {
    background-color: black;
    color: white;
    // padding: 10px;
  }


a:link { text-decoration: none; color: white; }


a:visited { text-decoration: none; color: white; }


a:hover { text-decoration: none; color: white; }


a:active { text-decoration: none; color: white; }

  @media (max-width: 1024px) {
    .grid {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
    }
  }

  .box {
    // width: 30vw;
    margin: 10px;
    height: max-content;
    border-width: 1px;
    border-radius: 10px;
    border-color: #05912422;
    transition: all 0.5s ease;
}
.box:hover, .box:active {
  background-color: #03501485;
  }
